*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 4fr;
    grid-template-rows: minmax(min-content, 1fr) 4fr;
}

.sidebar{
    background-color: aqua;
    grid-row: 1 / -1;
}

.header{
    background-color: beige;
}

.main-content{
    background-color: brown;
}